
ErrorDocument 404 /views/error/404.html
ErrorDocument 503 /views/error/503.html

RewriteEngine On

RewriteBase /project/iranbug/public

RewriteCond %{REQUEST_URI} !public

RewriteRule ^(.*[\s\S]*)$ index.php?url=$1 [QSA,NC,L]

